/* TODO: ORDER AND PLACE DESCRIPTIONS */
/* !!!!!!!!!!! */
body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background: rgb(11,27,42);
    background: linear-gradient(250deg, rgb(8, 27, 44) 0%, rgb(0, 0, 0) 100%);
}

div#app {
    max-width: 1200px;
    margin: 1em auto;
    color: white;
    border-radius: 10px;
    padding: 1em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

div#about {
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-top: 2em;
}

div#container {
    flex-grow: 1;
}

.active {
    color: white;
}

/* HEADER - LOGO, SEARCH BAR, BUTTONS */

header {
    min-height: 40px;
    display: flex;
    max-width: 900px;
    min-width: 55vw;
    margin: 0 auto;
}

header > .logo {
    width: 200px;
    border-radius: 10px;
    margin-right: 1em;
}

header > .logo:hover {
    cursor: pointer;
}

.search-bar-container {
    flex-grow: 1;
    display: flex;
    margin: 0 .5em;
    margin-right: 0;
}

header > .search-bar-container > input {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
    font-size: large;
    background-color: rgba(255, 255, 255, 0);
    flex-grow: 15;
    color: white;
    padding-left: .5em;
    border: #00929A 1px solid;
    outline: none;
}

header > .search-bar-container > button {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none;
    font-size: large;
    cursor: pointer;
    background-color: #00929A;
    color: white;
    flex-grow: 1;
}


header > #upload-btn {
    font-size: x-large;
    background-color: #00929A;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    border: none;
    cursor: pointer;
    margin-left: .5em;
    min-width: 60px;
}

header button {
    transition: 50ms !important;
}

header button:hover {
    background-color: #00a1aa !important;
}

header button:active {
    background-color: #00838a !important;
    transition: 5ms;
}

header button span {
    margin-top: 5px;
    scale: 1.2;
}

section.nav-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-height: 60px;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

#trending-header {
    margin: 0;
    margin-bottom: 1em;
}

section.nav-container > nav {
    font-size: 1.75em;
    color: white;
    display: flex;
    display: grid;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 600px;
}

nav a {
    color: #37dde5;
    text-decoration: none;

    transition: 100ms;
}

nav a:hover {
    color: #61f7ff;
    text-shadow: rgba(55,220,229,0.9) 0px 0px 34px;
}

nav a:active {
    color: #37dde5;
    text-shadow: rgba(55,220,229,0.9) 0px 0px 34px;
}

footer {
    justify-self: flex-end;
    text-align: center;
    color: #ccc;
}

/* GIF CONTAINERS - TRENDING, FAVORITES, SEARCH, UPLOAD */

.gif-container {
    columns: 5;
}

.gif-container > * {
    margin-bottom: 1.5em;
    break-inside: avoid;
    object-fit: contain;
    border-radius: 12px;
    cursor: pointer;
    transition: 200ms;
}

.gif-view {
    margin: 0 auto;
    max-width: 95%;
    margin-left: 2.3em;
}

/* SINGLE DETAILED GIF VIEW */

.single-gif-info-container {
    display: flex;
    margin: 0 auto;
    /* border: red solid 1px; */
    max-width: 950px;
    margin-top: 2.7em;
}

.single-gif-info-right-side > h3 {
    font-size: 1.5rem;
    margin-top: 0;
}

/* .single-gif-info-right-side .overlay {
    scale: 1.2;
} */

.single-gif-info-right-side > * {
    max-width: fit-content;
}

.single-gif-info-container > img {
    min-width: 500px;
    border-radius: 8px;
}

.single-gif-info-right-side {
    margin-left: 2em;
    /* border: 1px solid blue; */
}

.material-symbols-outlined:hover {
    cursor: pointer;
    user-select: none;
}

.material-symbols-outlined {
    transition:1s;
}

.material-symbols-outlined-active {
    color: rgb(255, 0, 89);
    transition: 1s ease;
}

.gif-view .overlay {
    position: relative;
    top: 5px;
    left: 5px;
}

/* .heart-icon {
    max-width: 25px;
} */

/* POP-UP */

.pop-up {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: .5em 0;
    position: absolute;
    font-size: 1.4rem;
    top: 0;
    left: 0;
    background: rgb(255,0,61);
    background: linear-gradient(236deg, rgba(255,0,61,1) 0%, rgba(173,0,103,1) 100%);
    color: white;
    z-index: 100;
}

.hidden {
    display: none;
}

/* UPLOAD */

.upload-btn-container {
    border: 10px dashed rgba(174, 174, 174, 0.088);
    border-radius: 120px;
    max-width: 700px;
    margin: 0 auto;
    padding: 2em;
    min-height: 350px;
}

.upload-btn-container > p {
    text-align: center;
    font-size: 1.2rem;
}

.upload-btn-container > p > a {
    color: #37dde5;
    text-decoration: none;
}

input[type="file"] {
    display: none;
}

.upload-btn-container > form > label, .upload-btn-container > form > button {
    font-weight: 500;
    font-size: 1.2rem;
    background-color: #00929A;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    border: none;
    outline: none;
    padding: .5em 1em;
    cursor: pointer;
    text-transform: uppercase;
}

.move-right {
    position: relative;
    left: 150px;
}